body {
    height: 100vh;
    width: 100vw;
    background-color: #262024;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.intro-container {
    max-width: 500px;
    width: 100%;
    &>*:not(.title){
        margin-left: 15%;
        margin-right: 15%;
    }

}

.title {
    font-family: 'arlenrelaxed_heavy';
    font-size: 20vw;
    line-height: 0.75;
    margin: -8px 0 0;
    color: #ff45d6;
    @media (min-width: 500px) {
        font-size: 128px;
    }
}

.hi { 
    font-family: 'arlenexpanded_bold';
    font-size: 48px;
    color: #5987ff;
}

p {
    font-family: 'pp_neue_montrealbold';
    font-size: 24px;
    line-height: 1em;
    margin: 0 0 8px;
    color: #B2C8FF;
}

.socials-container {
    width: 400px;
    height: 160px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 80px);
}

.icon {
    width: 60px;
    position: relative;
    padding: 8px;
}

.icon:hover {
    cursor: pointer;
}

.icon > svg {
    transition: margin 300ms, color 300ms, background-color 300ms;
}

.icon:hover > svg:not(.codepen) {
    color: #fff;
    margin-top: -16px;
}

.icon:hover > svg.codepen {
    background-color: #fff;
    margin-top: -16px;
}

p.social {
    grid-column-start: 1;
    grid-column-end: 6;
    margin: 16px 32px;
    text-align: center;
    opacity: 0;
}
.icon:hover ~ p.social {
    transition: opacity 300ms;
    opacity: 1;
}
.icon.email:hover ~ p.social::after {
    color: #5987ff;
    content:'hi@snezhi.com'
}
.icon.dev:hover ~ p.social::after {
    color: #ff7979;
    content:'@snezhi'
}
.icon.github:hover ~ p.social::after {
    color: #ff45d6;
    content:'@snezhii'
}
.icon.codepen:hover ~ p.social::after {
    color: #9747FF;
    content:'@snezhi'
}
.icon.linkedin:hover ~ p.social::after {
    color: #deff59;
    content:'/in/snezhi/'
}

.icon.email {
    color: #5987ff;
    top: 3px;
    transform: rotate(-6deg);
}

.icon.dev {
    color: #ff7979;
    top: 24px;
    transform: rotate(4deg);
}

.icon.github {
    color: #ff45d6;
    top: 4px;
    transform: rotate(-5deg);
}

.icon.codepen{
    color: #262024;
    top: 4px;
    transform: rotate(7deg);
}

.icon.linkedin {
    color: #deff59;
    top: 5px;
    transform: rotate(12deg);
}

svg.codepen{
    background-color: #9747FF;
    padding: 8px;
    width: 45px;
    height: 45px;
    border-radius: 6px;
    display: block;
}
