
@font-face {
    font-family: 'arlenexpanded_bold';
    src: url('assets/fonts/arlen-expandedbold-bf6408012d3668a-webfont.woff2') format('woff2'),
         url('assets/fonts/arlen-expandedbold-bf6408012d3668a-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arlenrelaxed_heavy';
    src: url('assets/fonts/fontspring-demo-arlen-relaxedheavy-bf64080136ce1a5-webfont.woff2') format('woff2'),
         url('assets/fonts/fontspring-demo-arlen-relaxedheavy-bf64080136ce1a5-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pp_neue_montrealbold';
    src: url('assets/fonts/ppneuemontreal-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/ppneuemontreal-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}